<div class="ui tab active segment">
    <div class="ui active inverted dimmer" id="loading">
        <div class="ui text loader">Processing...</div>
    </div>
    <div class="ui grid">
        <div class="one column row">
            <div class="column">
                <button class="ui right floated primary button" id="add-schedule-button"><i class="plus icon"></i> Add Schedule</button>
            </div>
        </div>

        <div class="one column row">
            <div class="column"> 
                <table id="schedule-list-table" class="ui celled table" width="100%" style="table-layout:fixed; word-wrap: break-word;">
                    <thead>
                        <tr>
                            <th class="center aligned">Name</th>
                            <th class="center aligned">Trainer</th>
                            <th class="center aligned">Backup Trainer</th>
                            <th class="center aligned">Classroom</th>
                            <th class="center aligned">Start Time</th>
                            <th class="center aligned">End Time</th>
                            <th class="center aligned">Capacity</th>
                            <th class="center aligned">All Participant List</th>
                            <th class="center aligned">Action</th>
                        </tr>
                    </thead>
                </table>

                <!-- Add Schedule Modal -->
                <div class="ui small modal add schedule">
                    <div class="header">Add Schedule</div>
                    <div class="content">
                        <form class="ui form">
                            <div class="required field">
                                <label>Course Name</label>
                                <select name="gender" class="ui dropdown" id="course-name-add-schedule">
                                    <option value="course 1">Course 1</option>
                                    <option value="course 2">Course 2</option>
                                    <option value="course 3">Course 3</option>
                                </select>
                            </div>
                            <div class="required field">
                                <label>Course Type</label>
                                <select name="course-type-add-schedule" class="ui dropdown" id="course-type-add-schedule">
                                    <option value="periodical">Periodical</option>
                                    <option value="fixed">Fixed</option>
                                </select>
                            </div>
                            <div class="required field ui calendar" id="start-date-add-schedule">
                                <label>Start Date</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="start-date-add-schedule" placeholder="Start Date">
                                </div>
                            </div>
                            <div class="required field ui calendar" id="end-date-add-schedule">
                                <label>End Date</label>
                                <div class="ui input left icon">
                                    <i class="calendar icon"></i>
                                    <input type="text" name="end-date-add-schedule" placeholder="End Date">
                                </div>
                            </div>
                            <div class="required field">
                                <label>Capacity</label>
                                <input type="text" name="capacity-add-schedule" placeholder="Capacity" />
                            </div>
                            <div class="required field">
                                <label>Class Room</label>
                                <select name="class-room-add-schedule" class="ui dropdown" id="class-room-add-schedule">
                                    <option value="Srikandi Meeting Room - Sanur B Office 1st Floor">Srikandi Meeting Room - Sanur B Office 1st Floor</option>
                                    <option value="Srikandi Meeting Room - Sanur B Office 2nd Floor">Srikandi Meeting Room - Sanur B Office 2nd Floor</option>
                                    <option value="Srikandi Meeting Room - Sanur B Office 3rd Floor">Srikandi Meeting Room - Sanur B Office 3rd Floor</option>
                                </select>
                            </div>
                            <div class="required field">
                                <label>Trainer</label>
                                <select name="trainer-add-schedule" class="ui dropdown" id="trainer-add-schedule">
                                    <option value="Made Aditya">Made Aditya</option>
                                    <option value="Made Aditya">Made Aditya</option>
                                    <option value="Made Aditya">Made Aditya</option>
                                </select>
                            </div>
                            <div class="field">
                                <label>Backup Trainer</label>
                                <select name="backup-trainer-add-schedule" class="ui dropdown" id="backup-trainer-add-schedule">
                                    <option value="-">-</option>
                                    <option value="Made Aditya">Made Aditya</option>
                                    <option value="Made Aditya">Made Aditya</option>
                                    <option value="Made Aditya">Made Aditya</option>
                                </select>
                            </div>
                            <button type="submit" class="ui blue button" role="button">Submit</button>
                        </form>
                    </div>
                    <div class="actions">
                        <div class="ui positive button">Save</div>
                        <div class="ui cancel button">Cancel</div>
                    </div>
                </div>

                <!-- Training Class Detail Modal -->
                <div class="ui small modal training class detail">
                    <div class="ui active inverted dimmer" id="loading-modal" style="display:none">
                        <div class="ui text loader">Processing...</div>
                    </div>
                    <i class="red close icon" style="top: 0.5rem;right: 0.5rem;"></i>
                    <div class="header">Training Class Detail</div>
                    <div class="scrolling content">
                        <table class="ui very basic table">
                            <tbody>
                                <tr>
                                    <td>Name</td>
                                    <td>{{nameDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Trainer</td>
                                    <td>{{trainerDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Backup Trainer</td>
                                    <td>{{backupTrainerDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Classroom</td>
                                    <td>{{classroomDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Location</td>
                                    <td>{{locationDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Start Date</td>
                                    <td>{{startTimeDetail}}</td>
                                </tr>
                                <tr>
                                    <td>End Date</td>
                                    <td>{{endTimeDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Created By</td>
                                    <td>{{createdByDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Created At</td>
                                    <td>{{createdAtDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Updated By</td>
                                    <td>{{updatedByDetail}}</td>
                                </tr>
                                <tr>
                                    <td>Updated At</td>
                                    <td>{{updatedAtDetail}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="actions">
                        <div class="ui green button" id="close-training-class-detail"><i class="check icon"></i> OK</div>
                    </div>
                </div>

                <!-- Enroll Participants Modal -->
                <div class="ui small modal enroll participants">
                    <div class="header">Eligible Participant</div>
                    <div class="content">
                        <table id="enroll-participants-table" class="ui table" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Employee Name</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                                    <td>Sylvia Novrianti</td>
                                    <td><i class="sign out red icon" id="schedule-list-detail-button"></i></td>
                                </tr>
                                <tr>
                                    <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                                    <td>Kadek Ayu Kartiniasih</td>
                                    <td><i class="sign out red icon" id="schedule-list-detail-button"></i></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="actions">
                        <div class="ui positive button">OK</div>
                        <div class="ui cancel button">Cancel</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>