<div class="ui active tab segment">
  <div class="ui grid">
      <div class="one column row">
          <div class="column">
              <button class="ui right floated primary button" id="add-eligible-participant-button"><i class="plus icon"></i> Add Eligible Participants</button>
          </div>
      </div>

      <div class="one column row">
          <div class="column"> 
              <table id="eligible-participant-list-table" class="ui table" cellspacing="0" width="100%">
                  <thead>
                      <tr>
                          <th>Employee Name</th>
                          <th>Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Ruben Juliarto</td>
                          <td><i class="red trash icon" id="delete-ep-user"></i></td>
                      </tr>
                      <tr>
                          <td>Ardi Ardianto</td>
                          <td><i class="red trash icon" id="delete-ep-user"></i></td>
                      </tr>
                      <tr>
                          <td>Ramdony Ariesta Rindiawan</td>
                          <td><i class="red trash icon" id="delete-ep-user"></i></td>
                      </tr>
                  </tbody>
              </table>
          </div>

          <!-- Delete EP User Modal -->
          <div class="ui basic modal delete ep user">
              <div class="ui icon header">
                  <i class="trash icon"></i>
                  Delete Eligible Participant User
              </div>
              <div class="content">
                  <p>Are you sure want to delete [name]?</p>
              </div>
              <div class="actions">
                  <div class="ui red basic cancel inverted button">
                  <i class="remove icon"></i>
                  No
                  </div>
                  <div class="ui green ok inverted button">
                  <i class="checkmark icon"></i>
                  Yes
                  </div>
              </div>
          </div>

          <!-- Add Eligible Participants Modal -->
          <div class="ui large modal add eligible participant">
              <div class="header">Select Employee(s)</div>
              <div class="content">
                  <table id="add-eligible-participant-table" class="ui table" cellspacing="0" width="100%">
                      <thead>
                          <tr>
                              <th></th>
                              <th>Full Name</th>
                              <th>Job Family & Stream</th>
                              <th>Grade</th>
                              <th>Email</th>
                              <th>Account Name</th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr>
                              <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                              <td>A.A Gde Agung Kusuma Astika</td>
                              <td>IT.IT-NM</td>
                              <td>IT2</td>
                              <td>A.A.GdeAgungKusuma.Astika@mitrais.com</td>
                              <td>mitrais\agung_a</td>
                          </tr>
                          <tr>
                              <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                              <td>A.A Gde Agung Kusuma Astika</td>
                              <td>IT.IT-NM</td>
                              <td>IT2</td>
                              <td>A.A.GdeAgungKusuma.Astika@mitrais.com</td>
                              <td>mitrais\agung_a</td>
                          </tr>
                          <tr>
                              <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                              <td>A.A Gde Agung Kusuma Astika</td>
                              <td>IT.IT-NM</td>
                              <td>IT2</td>
                              <td>A.A.GdeAgungKusuma.Astika@mitrais.com</td>
                              <td>mitrais\agung_a</td>
                          </tr>
                          <tr>
                              <td><div class="ui checkbox"><input type="checkbox"><label></label></div></td>
                              <td>A.A Gde Agung Kusuma Astika</td>
                              <td>IT.IT-NM</td>
                              <td>IT2</td>
                              <td>A.A.GdeAgungKusuma.Astika@mitrais.com</td>
                              <td>mitrais\agung_a</td>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div class="actions">
                  <div class="ui positive button">Save</div>
                  <div class="ui cancel button">Cancel</div>
              </div>
          </div>
      </div>
  </div>
</div>