<div class="ui active tab segment">
    <div class="ui active inverted dimmer" id="loading">
        <div class="ui text loader">Processing...</div>
    </div>
    <div class="ui grid">
        <div class="one column row">
            <div class="column">
                <button class="ui right floated primary button" id="add-eligible-participant-button"><i class="plus icon"></i> Add Eligible Participants</button>
            </div>
        </div>
        <div class="one column row">
            <div class="column"> 
                <table id="eligible-participant-list-table" class="ui celled striped table" width="100%">
                    <thead>
                        <tr>
                            <th class="center aligned">Employee Name</th>
                            <th class="center aligned">Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- Add Eligible Participants Modal -->
<div class="ui fullscreen modal add eligible participant">
    <div class="ui active inverted dimmer" id="loading-modal" style="display:none">
        <div class="ui text loader">Processing...</div>
    </div>
    <i class="red close icon" style="top: 0.5rem;right: 0.5rem;"></i>
    <div class="header">Select Employee(s)</div>
    <div class="scrolling content">
        <table id="add-eligible-participant-table" class="ui celled table" width="100%" style="table-layout:fixed; word-wrap: break-word;">
            <thead>
                <tr>
                    <th class="center aligned"></th>
                    <th class="center aligned">Full Name</th>
                    <th class="center aligned">Job Family & Stream</th>
                    <th class="center aligned">Grade</th>
                    <th class="center aligned">Email</th>
                    <th class="center aligned">Account Name</th>
                </tr>
                <tr id="filterrow">
                    <th class="select-checkbox sorting_disabled"><div class="ui checkbox"><input type="checkbox" id="checkAll"><label></label></div></th>
                    <th>Full Name</th>
                    <th>Job Family & Stream</th>
                    <th>Grade</th>
                    <th>Email</th>
                    <th>Account Name</th>
                </tr>
            </thead>
        </table>
    </div>
    <div class="actions">
        <div class="ui green button" id="save-eligible"><i class="check icon"></i> Save</div>
    </div>
</div>