<div class="ui top attached menu inverted">
    <a class="item" (mouseover)="toggle()">
        <i class="sidebar icon white"></i>
    </a>
    <a class="item" [routerLink]="['/dashboard']">
        <h2 class="ui white inverted header">
            <div class="content">
                Training Admin System
            </div>
        </h2>
    </a>
    <div class="right menu">
        <div class="ui dropdown link item" [routerLink]="['/dashboard']">
            <i class="home icon" ></i>
        </div>
        <div class="ui dropdown link item" id="account-dropdown">
            <i class="user icon"></i>
            <i class="dropdown icon"></i>
            <div class="menu" style="min-width:250px">
                <div class="ui header">
                    <h3 class="ui header">
                        <img src="https://semantic-ui.com/images/avatar2/large/patrick.png" class="ui circular image">
                        <div *ngIf="current_user"class="content" style="margin-right: 40px;">
                            {{current_user.username}}
                            <div class="sub header">{{current_user.email}}</div>
                        </div>
                    </h3>
                </div>
                <div class="divider"></div>
                <div class="ui form" style="margin: 1rem 0 .75rem;padding: 0 1.14285714rem;">
                    <div class="field">
                        <label>Active Role</label>
                    </div>
                    <div class="field">
                        <div class="ui fluid selection dropdown" id="role-dropdown">
                            <div class="text" style="text-transform:none !important"></div>
                            <i class="dropdown icon"></i>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>                
                <div class="ui item" (click)="logOut()"><i class="sign out icon"></i>Logout</div>
            </div>
        </div>
    </div>
</div>
