<div class="ui grid padded">
  <div class="one column row" id="search-user-segment" style="display:none">
      <div class="column">
          <div class="ui raised segment yellow">
              <div class="ui grid">
                  <div class="two column row">
                      <div class="one column row">
                          <div class="column"> 
                              <a class="ui yellow ribbon label"><i class="disabled filter icon"></i>Filter Data</a>
                          </div>
                      </div>
                      <div class="column">
                          <i class="red close icon large" id="close-search" style="cursor:pointer; float:right"></i>
                      </div>
                  </div>
                  <div class="one column row">
                      <div class="column">
                          <form class="ui form" role="form" id="searchForm">
                              <div class="field">
                                  <div class="three fields">
                                      <div class="field">
                                          <label>Employee ID</label>
                                          <input type="text" name="idUser" placeholder="Employee ID">
                                      </div>
                                      <div class="field">
                                          <label>Full Name</label>
                                          <input type="text" name="name" placeholder="Full Name">
                                      </div>
                                      <div class="field">
                                          <label>Account Name</label>
                                          <input type="text" name="username" placeholder="Account Name">
                                      </div>
                                  </div>
                                  <div class="three fields">
                                      <div class="field">
                                          <label>Email</label>
                                          <input type="text" name="email" placeholder="Email">
                                      </div>
                                      <div class="field">
                                          <label>Role</label>
                                          <select class="ui dropdown" multiple="" name="role" id="role">
                                              <option value="">-- Select Role --</option>
                                              <option *ngFor="let data of roleDrop" value="{{data.idRole}}">{{data.roleName}}</option>
                                          </select>
                                      </div>
                                      <div class="field">
                                          <label>Active</label>
                                          <select class="ui dropdown" multiple="" name="active" id="active">
                                              <option value="">-- Select Active --</option>
                                              <option value="1">Yes</option>
                                              <option value="0">No</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="three fields">
                                      <div class="field">
                                          <label>Job Family</label>
                                          <select class="ui dropdown search" name="jobFamily" id="jobFamily">
                                              <option value="">-- Select Job Family --</option>
                                              <option *ngFor="let data of familyDrop" value="{{data.idJobFamily}}">{{data.jobFamilyName}}</option>
                                          </select>
                                      </div>
                                      <div class="field">
                                          <label>Job Stream</label>
                                          <select class="ui dropdown search" multiple="" name="jobStream" id="jobStream">
                                              <option value="">-- Select Job Stream --</option>
                                              <option *ngFor="let data of streamDrop" value="{{data.idJobStream}}">{{data.jobStreamName}}</option>
                                          </select>
                                      </div>
                                      <div class="field">
                                          <label>Grade</label>
                                          <select class="ui dropdown search" multiple="" name="grade" id="grade">
                                              <option value="">-- Select Grade --</option>
                                              <option *ngFor="let data of gradeDrop" value="{{data.idGrade}}">{{data.gradeName}}</option>
                                          </select>
                                      </div>
                                  </div>
                              </div>
                              <button class="ui right floated green tiny button"><i class="search icon"></i> Search</button>
                              <button class="ui right floated yellow tiny button" id="reset-search"><i class="refresh icon"></i> Reset</button>
                          </form>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="one column row" id="user-content">
      <div class="column">
          <div class="ui raised segment violet">
              <div class="ui active inverted dimmer" id="loading" style="display:none">
                  <div class="ui text loader">Processing...</div>
              </div>
              <div class="ui grid">
                  <div class="two column row">
                      <div class="column"> 
                          <a class="ui purple ribbon label"><i class="disabled users icon"></i>Users</a>
                      </div>
                      <div class="column">
                          <button class="ui right floated primary tiny button" [routerLink]="['/user/add']"><i class="plus icon"></i> Add User</button>
                          <button class="ui right floated red tiny button" id="filter-data"><i class="filter icon"></i> Filter Data</button>
                          <button class="ui right floated olive icon tiny button" id="refresh">
                              <i class="refresh icon"></i> Refresh
                          </button>
                      </div>
                  </div>
                  <div class="one column row">
                      <div class="column"> 
                          <table id="users-table" class="ui celled striped table" width="100%">
                              <thead>
                                  <tr>
                                      <th class="center aligned">Employee ID</th>
                                      <th class="center aligned">Full Name</th>
                                      <th class="center aligned">Email</th>
                                      <th class="center aligned">Job Family & Stream</th>
                                      <th class="center aligned">Grade</th>
                                      <th class="center aligned">Account Name</th>
                                      <th class="center aligned">Active</th>
                                      <th class="center aligned">Role</th>
                                      <th class="center aligned">Action</th>
                                  </tr>
                              </thead>
                          </table>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
</div>
