<div class="tas-content">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <div class="ui grid padded">
        <div class="one column row">
            <div class="column">
                <div class="ui raised segment violet">
                    <div class="ui grid">
                        <div class="one column row">
                            <div class="column"> 
                                <a class="ui purple ribbon label"><i class="disabled browser icon"></i>***</a>
                            </div>
                        </div>
                        <div class="one column row">
                            <div class="column">
                                content
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>           