<div class="ui grid padded c-content c-padded">
    <div class="one column row">
        <div class="column">
            <h2 class="ui header">
                <i class="disabled edit icon"></i>
                <div class="content">
                    Training Period - Edit
                    <div class="sub header">Edit period list, eligible participant, and schedule</div>
                </div>
            </h2>
        </div>
    </div>

    <div class="one column row">
        <div class="column">
            <div class="ui segment">
                <div class="ui breadcrumb">
                    <a class="section" [routerLink]="['/dashboard']">Home</a>
                    <i class="right angle icon divider"></i>
                    <a class="section" [routerLink]="['/period']">Period</a>
                    <i class="right angle icon divider"></i>
                    <div class="active section">Training Period - Edit</div>
                </div>
            </div>      
        </div>
    </div>

    <div class="one column row">
        <div class="column">
            <div class="ui raised segment violet">
                <!-- grid for tab -->
                <div class="ui grid">
                    <div class="one column row">
                        <div class="column"> 
                            <a class="ui purple ribbon label"><i class="disabled browser icon"></i>Training Period - Edit</a>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="column">
                            <div class="ui three item stackable tabs menu">
                                <a class="active item" data-tab="first"><b>Edit Training Period</b></a>
                                <a class="item" data-tab="second"><b>Eligible Participant</b></a>
                                <a class="item" data-tab="third"><b>Schedule</b></a>
                            </div>
                            
                            <div class="ui active tab segment" data-tab="first"></div>
                            <div class="ui tab segment" data-tab="second">Second</div>
                            <div class="ui tab segment" data-tab="third">Second</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    