<div class="ui grid padded">
    <div class="one column row">
        <div class="column">
            <div class="ui raised segment violet">
                <!-- grid for tab -->
                <div class="ui grid">
                    <div class="one column row">
                        <div class="column"> 
                            <a class="ui purple ribbon label"><i class="disabled browser icon"></i>Training Period - Edit</a>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="column">
                            <div class="ui three item stackable tabs menu">
                                <a class="{{active1}} item" [routerLink]="['/period/edit/edit-data', idPeriod]"><b>Edit Training Period</b></a>
                                <a class="{{active2}} item" [routerLink]="['/period/edit/eligible-participant', idPeriod]"><b>Eligible Participant</b></a>
                                <a class="{{active3}} item" [routerLink]="['/period/edit/schedule-list', idPeriod]"><b>Schedule List</b></a>
                            </div>
                            <router-outlet></router-outlet>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
