<div class="ui active tab segment">
    <div class="ui active inverted dimmer" id="loading">
        <div class="ui text loader">Processing...</div>
    </div>
    <form class="editAssessment" name="form">
      <div class="ui grid">
          <div class="one column row">
              <div class="column">
                  <button class="ui right floated blue button"><i class="check icon"></i> Save</button>
              </div>
          </div>
          <div class="one column row">
              <div class="column"> 
                  <table id="assessment-table" class="ui celled striped table" width="100%">
                      <thead>
                          <tr>
                              <th class="center aligned">Employee Name</th>
                              <th class="center aligned">Status</th>
                          </tr>
                      </thead>
                  </table>
              </div>
          </div>
      </div>
  </form>
</div>