<div class="tas-content">
    <app-header></app-header>
    <app-breadcrumb></app-breadcrumb>
    <div class="ui grid padded">
        <div class="one column row">
            <div class="column">
                <div class="ui raised segment violet">
                    <div class="ui grid">
                        <div class="one column row">
                            <div class="column"> 
                                <a class="ui purple ribbon label"><i class="disabled browser icon"></i>Active Training</a>
                            </div>
                        </div>
                        <div class="one column row">
                            <div class="column"> 
                                <table id="active-training-table" class="ui table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Course Name</th>
                                            <th>Main Trainer</th>
                                            <th>Backup Trainer</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                            <th>Office</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="ui grid padded">
        <div class="one column row">
            <div class="column">
                <div class="ui raised segment violet">
                    <div class="ui grid">
                        <div class="one column row">
                            <div class="column"> 
                                <a class="ui purple ribbon label"><i class="disabled calendar icon"></i>BCC Schedule</a>
                            </div>
                        </div>
                        <div class="one column row">
                            <div class="column"> 
                                <table id="bcc-schedule-table" class="ui table" cellspacing="0" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Trainer</th>
                                            <th>Mon</th>
                                            <th>Tue</th>
                                            <th>Wed</th>
                                            <th>Thu</th>
                                            <th>Fri</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Herdiawan Fajar</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                        </tr>
                                        <tr>
                                            <td>Reny Mulyaningsih</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                        </tr>
                                        <tr>
                                            <td>Komang Tri Astini</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                        </tr>
                                        <tr>
                                            <td>Reny Mulyaningsih</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                        </tr>
                                        <tr>
                                            <td>Komang Tri Astini</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                            <td>Communicating Effectively 2 #2 Jakarta</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>