<div class="ui grid padded">
    <div class="one column row">
        <div class="column">
            <div class="ui raised segment violet">
                <div class="ui active inverted dimmer" id="loading" style="display:none">
                    <div class="ui text loader">Processing...</div>
                </div>
                <div class="ui grid">
                    <div class="two column row">
                        <div class="column"> 
                            <a class="ui purple ribbon label"><i class="disabled calendar icon"></i>Period</a>
                        </div>
                        <div class="column">
                            <button class="ui right floated primary button" [routerLink]="['/period/add']"><i class="plus icon"></i> Create Period</button>
                        </div>
                    </div>
                    <div class="one column row">
                        <div class="column">
                            <table id="training-period-table" class="ui celled striped table" width="100%">
                                <thead>
                                    <tr>
                                        <th class="center aligned">Name</th>
                                        <th class="center aligned">Active</th>
                                        <th class="center aligned">Courses</th>
                                        <th class="center aligned">Start Date</th>
                                        <th class="center aligned">End Date</th>
                                        <th class="center aligned">Created By</th>
                                        <th class="center aligned">Updated By</th>
                                        <th class="center aligned">Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    