/* You can add global styles to this file, and also import other style files */
.tas-content {
    padding: 0.5em 1em 0 1em;
    margin-bottom: 60px;
}

.no-margin {
    margin-right: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.dataTables_filter.ui.input {
    display: none;
}

.text-wrap{
    white-space:normal;
}
.width-200{
    width:50px !important;
}