.ui.vertical.segment {
    border-bottom: none;
}

.ui.footer.segment {
    margin: 1.5em 0em 0em;
}

.hide {
    display: none;
}

.footer {
    bottom: 0;
    position: absolute;
    width: 100%;
}
